    <header>
        <h1>Home - Real Time Products</h1>
    </header>

    <main>
        
        <div class="sorting">
            <a href="/realTimeProducts?sort=asc" class="sort-button">Ordenar A-Z</a>
            <a href="/realTimeProducts?sort=desc" class="sort-button">Ordenar Z-A</a>
        </div>

        <div class="product-list" id="product-list">
            {{#each products}}
            <div class="product">
                <h2>{{this.title}}</h2>
                <p>Descripción: {{this.description}}</p>
                <p>Precio: {{this.price}}</p>
                <p>Categoría: {{this.category}}</p>
                <p>Stock: {{this.stock}}</p>
                <p>ID: {{this._id}}</p>
                <a class="detail" href="/products/{{this._id}}">Ver detalles</a>
                <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
                <button onclick="removeFromCart('{{this._id}}')">Eliminar del carrito</button>
            </div>
            {{/each}}
        </div>
    </main>

    <div class="pagination-container">
        {{#if pagination.hasPrevPage}}
        <a class="pagination-pre" href="/realTimeProducts?page={{pagination.prevPage}}&limit={{pagination.limit}}">Anterior</a>
        {{/if}}
        <span id="page-number">Página: {{pagination.page}}</span>
        {{#if pagination.hasNextPage}}
        <a class="pagination-next" href="/realTimeProducts?page={{pagination.nextPage}}&limit={{pagination.limit}}">Siguiente</a>
        {{/if}} 
    </div>
    <div>
        <button class="cart" type="button" onclick="viewCart()">Ver Carrito</button>
        <button class="cart" type="button" onclick="clearCart()" id="clear-cart-btn" data-cart-id="{{cartId}}">Vaciar Carrito</button>
    </div>
    <div id="product-added"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/api/public/scripts/cart.socket.js"></script>
    <script src="/api/public/scripts/products.socket.js"></script>

</body>

